{% extends 'layout.twig' %}

{% block content %}
<h2>Sehr geehrte Damen und Herren,</h2>

<p>ich biete Ihnen Zuverlässigkeit, Pünktlichkeit, ein hohes Maß an Genauigkeit,<br>
    ein freundliches und selbstbewusstes Auftreten.<br>
    Darüber hinaus bin ich sehr flexibel, so dass ich auch unter hohem Druck in der Lage bin,<br>
    meine Aufgaben effektiv zu erfüllen.</p>
<p>Selbständiges arbeiten mit Eigenverantwortung liegen mir genauso wie das Arbeiten in einem Team.<br>
    Desweiteren habe ich mich auf das Suchen von Fehlern spezialiesiert, da es für mich....</p>
<p>Ich freue mich auf unser persönliches Gespräch.</p>
<p>Mit den besten Grüßen aus München</p>
<img src="/img/signature.png">
{% endblock %}
