footer {
    margin-top: 30px;
    color: #ffffff;
}
body {
    background-color: #009fb5;
    color: #ffffff;
}
a {
    color: #ffffff;
}
a:hover, a:focus {
    color: #000000;
}
header {
    color: #ffffff;
}
h3.text-muted {
    color: #ffffff;
}